---
- name: check if RVM is installed
  command: bash -c "source /usr/local/rvm/scripts/rvm && rvm"
  register: result_rvm
  changed_when: result_rvm.rc > 0
  failed_when: no
  become: yes
  tags: rvm

- name: apt-get update
  apt: update_cache=yes
  ignore_errors: True
  when: "result_rvm.rc > 0 and ansible_os_family == 'Debian'"
  tags: rvm

- name: install deps
  package: name={{ item }}
  with_items:
      - curl
  when: result_rvm.rc > 0
  tags: rvm

- name: check if GPG key is present
  command: bash -c "gpg -k | grep D39DC0E3"
  changed_when: result.rc > 0
  failed_when: false
  register: result
  tags: rvm

# http://rvm.io/rvm/install
- name: Import GPG keys
  command: 'gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3'
  register: rvm_key_import
  changed_when: "'imported:' in rvm_key_import.stderr"
  when: result.rc > 0
  retries: 3
  delay: 10
  until: rvm_key_import is not failed
  tags: rvm

# - name: Import GPG keys
#   apt_key: url=http://keys.gnupg.net/pks/lookup?op=get&fingerprint=on&search=0xD39DC0E3 state=present

- name: update CA as they might be missing in lxc containers
  command: update-ca-certificates
  when: "result_rvm.rc > 0 and ansible_os_family == 'Debian'"
  tags: rvm

- name: install RVM
  command: bash -c "curl -sSL https://get.rvm.io| bash -s stable"
  become: yes
  when: result_rvm.rc > 0
  tags: rvm

- name: install Ruby
  command: bash -c "source /usr/local/rvm/scripts/rvm && rvm install {{ ruby_version }}"
  register: result_ruby_install
  changed_when: "'Already installed' not in result_ruby_install.stderr"
  become: yes
  tags: rvm

- name: add source rvm for all users
  copy: src=rvm-env.sh
        dest=/etc/profile.d/rvm-env.sh
        owner=root
        group=root
        mode=0644
  tags: rvm

- name: set a default Ruby
  command: bash -c "source /usr/local/rvm/scripts/rvm && rvm use {{ ruby_version }} --default"
  become: yes
  tags: rvm
